@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html[data-theme="light"], html {
    --bg-color:#B5C9E9;
	--text-color:#4C5972;
	--accent-color:#070C1F;
	--border-color:#ffffff;
	--cloud-color:#6D7D90;
	--content-color:#e6effc;
}
  
html[data-theme="dark"] {
	--bg-color:#4C5972;
    --text-color:#e1e1e1;
    --accent-color:#ffffff;
    --border-color:#070C1F;
    --cloud-color:#6D7D90;
    --content-color:#1e1e1e;
}