body{
    background: $bgColor;
}

.Layout{
}

#main, #coin{
    max-width: $max-width;
    margin: 0 auto;
    padding: __vw(20px);
}

.wrapper{
    width: 100%;
    border-radius: __vw(35px);
    border: 5px solid $borderColor;
    background-color: $contentColor;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    height: 100%;
    min-height: __vw(500px);
    .btn-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: __vw(20px);
        padding: 0 __vw(20px);
        h1{
            font-size: __vw(22px);
            font-size: 700;
            color: $textColor;
            line-height: 135%;
            letter-spacing: -0.02em;
        }
        button{
            width: __vw(70px);
            padding: __vw(5px) __vw(10px);
            border-radius: __vw(25px);
            background-color: $contentColor;
            box-shadow: $clickedStyle;
            border: none;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $contentColor;
                color: $cloudColor;
                width: __vw(22px);
                height: __vw(22px);
                border-radius: 50%;
                cursor: pointer;
                transition: 300ms;
                box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25),
                -2px -2px 3px 0 rgba(255, 255, 255, 0.3);
                &:hover {
                    background-color: $accentColor;
                    transition: 300ms;
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        height: calc(100vh - __vw(32px));
    }
    overflow-y: hidden;
    .container{
        margin-top: __vw(32px);
        overflow-y: scroll;
        height: 100%;
        padding-bottom: __vw(52px);
        .loading{
            padding: __vw(20px);
            text-align: center;
            font-size: __vw(22px);
        }
        ul{
            height: fit-content;
            padding: __vw(20px) __vw(20px) __vw(52px);
            li{
                background-color: $contentColor;
                color: $textColor;
                font-weight: 600;
                box-shadow: $boxShadow;
                padding: 0px 10px;
                border-radius: __vw(15px);
                margin-bottom: __vw(15px);
                a {
                    display: flex;
                    align-items: center;
                    padding: __vw(20px);
                    transition: color 0.2s ease-in-out;
                    img{
                        margin-right: __vw(20px);
                    }
                    h5{
                        font-size: __vw(18px);
                    }
                }
                &:hover {
                    box-shadow: $clickedStyle;
                    a {
                    color: $accentColor;
                    }
                }
            }
        }
    }
    .detail{
        padding: 0 __vw(20px);
        h1{
            font-size: __vw(22px);
            font-weight: 500;
            text-align: center;
        }
        .infos{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $contentColor;
            box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
                -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
            border-radius: __vw(25px);
            padding: __vw(24px) __vw(20px);
            margin-top: __vw(15px);
            margin-bottom: __vw(15px);
            &.__supply{
                justify-content: center;
                .info{width: 50%;}
            }
            .info{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: __vw(16px);
                color: $cloudColor;
                font-weight: 500;
                span:first-child {
                    font-size: __vw(18px);
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: __vw(5px);
                    color: $textColor;
                }
            }
        }
        .description{
            width: 100%;
            border-radius: __vw(25px);
            padding: __vw(24px) __vw(20px);
            color: $cloudColor;
            box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
                -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
            margin-bottom: 20px;
            min-height: __vw(150px);
            h5 {
                color: $textColor;
                font-size: __vw(22px);
                font-weight: 600;
                margin-bottom: __vw(5px);
            }
        }
        .chart{
            width: 100%;
            min-height: __vw(500px);
            box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
                -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
            border-radius: __vw(25px);
            padding: __vw(24px) __vw(20px);
        }
    }
    
}
