body{
    background: $bgColor;
}

.Layout{
}

#main, #coin{
    max-width: $max-width;
    margin: 0 auto;
    padding: __vw(20px);
}

.wrapper{
    width: 100%;
    border-radius: 35px;
    border: 5px solid $borderColor;
    background-color: $contentColor;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    height: 100%;
    @media screen and (max-width: 768px){
        height: calc(100vh - __vw(32px));
    }
    overflow-y: hidden;
    .container{
        margin-top: __vw(32px);
        overflow-y: scroll;
        height: 100%;
        padding-bottom: __vw(52px);
        ul{
            height: fit-content;
            padding: 0 __vw(20px);
            li{
                background-color: $contentColor;
                color: $textColor;
                font-weight: 600;
                box-shadow: $boxShadow;
                padding: 0px 10px;
                border-radius: __vw(15px);
                margin-bottom: __vw(15px);
                a {
                    display: flex;
                    align-items: center;
                    padding: __vw(20px);
                    transition: color 0.2s ease-in-out;
                    img{
                        margin-right: __vw(20px);
                    }
                    h5{
                        font-size: __vw(18px);
                    }
                }
                &:hover {
                    box-shadow: $clickedStyle;
                    a {
                    color: $accentColor;
                    }
                }
            }
        }
    }
    .detail{
        .infos{
            width: 100%;
            height: __vw(70px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $contentColor;
            box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
                -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
            border-radius: __vw(25px);
            padding: __vw(10px) __vw(20px);
            margin-top: __vw(15px);
            margin-bottom: __vw(15px);
            .info{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 50%;
                font-size: __vw(16px);
                span:first-child {
                    font-size: 10px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: __vw(5px);
                    color: $cloudColor;
                }
            }
        }
    }
    
}
